<%= form_for(task) do |f| %>

  <% if message.errors.any? %>

    <div id="error_explanation">
      <ul>
        
<% message.errors.full_messages.each do |message| %>

          <li>
<%= message %>
</li>
        
<% end %>

      </ul>
    </div>
  
<% end %>

  
  
<%= f.label :title, 'タイトル' %>

<%= f.text_field :title %>


<%= f.label :content, 'タスク' %>

  
<%= f.text_field :content %>
  
<%= f.submit '作成' %>

<% end %>